<!--*ngIf="demandFormService.doesUserHaveRoles(['Dziekan', 'Admin'])"-->

<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Edycja profilu</h4>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput (input)="changeEmail($event)" placeholder="Email" type="email">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-checkbox
                                            (change)="automaticallySendToPlanners($event)">Automatycznie akceptuj zapotrzebowania
                                    </mat-checkbox>
                                </div>
                            </div>
                            <button mat-raised-button color="primary" (click)="onSubmit()" class="btn btn-danger pull-right">Zaktualizuj profil</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>