<div class="example-container" >
    <form *ngIf="profileForm" [formGroup]="profileForm">

        <mat-form-field>
            <input matInput placeholder="Email" formControlName="email">
            <mat-error *ngIf="profileForm.get('email').invalid">Podano niepoprawny email</mat-error>
        </mat-form-field>
        <div>
            <mat-checkbox formControlName="automaticallySendDemands">Automatyczna akceptacja zapotrzebowań</mat-checkbox>
        </div>

        <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!profileForm.dirty" class="btn btn-danger pull-right">Zaktualizuj profil</button>
    </form>
</div>