<mat-card-content>
    <form [formGroup]="loginForm" class="my-form" (keyup.enter)="onSubmit()">
        <mat-form-field class="full-width">
            <mat-label>Email</mat-label>
            <input formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" matInput  placeholder="Email" name="email">
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Hasło</mat-label>
            <input formControlName="password" type="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" matInput  placeholder="Hasło"  name="password">
        </mat-form-field>
    </form>
</mat-card-content>
<mat-card-actions>
    <button mat-raised-button (click)="onSubmit()" color="primary">Zaloguj</button>
</mat-card-actions>


