<div class="semester-weeks-wrapper">
  <p>
    Rozkład godzin w poszczególnych tygodniach
  </p>
  <p *ngIf="lecture.hours >= distributedHours">
    Pozostało godzin do rozdysponowania: {{ lecture.hours - distributedHours }}
  </p>
  <mat-error *ngIf="lecture.hours < distributedHours">
    Zalokowano za dużo godzin! ({{distributedHours}})
  </mat-error>
  <div [formGroup]="weeksFormGroup">
    <div *ngFor="let item of formControlNames;">
      <mat-form-field  class="week-input">
        <mat-label>{{ item }}</mat-label> <input type="number" min="0" matInput [formControlName]="item">
      </mat-form-field>
    </div>
    <div style="float:none; clear: both"></div>
  </div>
</div>