<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Zapotrzebowania</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/zapotrzebowania">Lista zapotrzebowań</a>
      <a mat-list-item routerLink="/importuj-plany-zajec">Importuj plany zajęć</a>
      <a mat-list-item routerLink="/importuj-nauczycieli">Importuj nauczycieli</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
      </button>
      <span></span>
      <span class="fill-space"></span>
      <a mat-button *ngIf="authenticationService.isLoggedIn()" routerLink="/profil">Profil</a>
      <a mat-button *ngIf="authenticationService.isLoggedIn()" (click)="logout()" >Wyloguj</a>
      <a mat-button *ngIf="!authenticationService.isLoggedIn()" (click)="login()" >Zaloguj</a>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
