<div [formGroup]="placeForm">
  <p>
    {{ weekLabel }}
  </p>

  <mat-form-field class="place-input">
    <mat-label>Budynek</mat-label>
    <input type="text" matInput formControlName="building" [matAutocomplete]="buildingAutoComplete">
  </mat-form-field>

  <mat-form-field class="place-input">
    <mat-label>Sala</mat-label>
    <input type="text" matInput formControlName="room" [matAutocomplete]="roomAutoComplete">
  </mat-form-field>
</div>

<mat-autocomplete class="place-input" #buildingAutoComplete="matAutocomplete">
  <mat-option *ngFor="let building of buildings"
              [value]="building.name">{{building.name}}
  </mat-option>
</mat-autocomplete>

<mat-autocomplete class="place-input" #roomAutoComplete="matAutocomplete">
  <mat-option *ngFor="let room of this.rooms"
              [value]="room.name">{{room.name}}</mat-option>
</mat-autocomplete>