<form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="shipping-card">
        <mat-card-header>
            <mat-card-title>Logowanie</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col">
                    <mat-form-field>
                        <mat-label>Nazwa użytkownika</mat-label>
                        <input formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" matInput  placeholder="Nazwa użytkownika" name="username">
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
        <mat-card-content>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-form-field>
                            <mat-label>Hasło</mat-label>
                            <input formControlName="password" type="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" matInput  placeholder="Hasło"  name="password">
                        </mat-form-field>
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit">Submit</button>
        </mat-card-actions>
    </mat-card>
</form>