<div [formGroup]="lectureForm">
    <div mat-dialog-content>
        <h2>{{lecture.lectureType.name}}</h2>

        <mat-toolbar-row>
            {{ lecture.hours }} godzin
        </mat-toolbar-row>
        <mat-form-field>
            <mat-label>Wpisz swoje uwagi</mat-label>
            <textarea matInput formControlName="lectureComments"></textarea>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Wybierz prowadzącego</mat-label>
            <input type="text" matInput formControlName="lecturer" [matAutocomplete]="auto">
        </mat-form-field>
        <app-schedule-form
            [lecture]="lecture"
            (schedulesEmitter)="onSchedulesChange($event)"
            (semesterWeeksChangedEmitter)="onSemesterWeeksChanged()">
        </app-schedule-form>
        <button mat-button [disabled]="this.lectureSaved===true" (click)="saveLecture()">Zapisz zmiany</button>
    </div>
</div>

<mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let lecturer of qualifiedLecturers"
                [value]="lecturer.username">{{lecturer.username}}</mat-option>
</mat-autocomplete>