<div [formGroup]="lectureForm">
    <div mat-dialog-content>
        <h2>{{lecture.lectureType.name}} - {{ lecture.hours }} godzin </h2>
        <mat-form-field>
            <mat-label>Wybierz prowadzącego</mat-label>
            <input type="text" matInput formControlName="lecturer" [matAutocomplete]="auto">
        </mat-form-field>
        <app-schedule-form
            [lecture]="lecture"
            [buildings]="buildings"
            (lectureEmitter)="onLectureEmitted($event)">
        </app-schedule-form>
        <div class="style-cleaner"></div>
        <mat-form-field>
            <mat-label>Wpisz swoje uwagi</mat-label>
            <textarea class="input-comments" matInput formControlName="lectureComments"></textarea>
        </mat-form-field>
    </div>
</div>

<mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let lecturer of qualifiedLecturers"
                [value]="lecturer.username">{{lecturer.username}}</mat-option>
</mat-autocomplete>