<div *ngIf="this.demand">
  <mat-card>
  <div class="col-xs-12 col-sm-6 info-block">
    <table>
      <tr>
        <td class="item"><i class="icon s7-id"></i> Rok studiów:</td>
        <td>{{ demand?.schoolYear }}</td>
      </tr>
      <tr>
        <td class="item"><i class="icon s7-id"></i> Wydział:</td>
        <td>{{ demand?.department }}</td>
      </tr>
      <tr>
        <td class="item"><i class="icon s7-id"></i> Grupa:</td>
        <td>{{ demand?.groupName }}</td>
      </tr>
      <tr>
        <td class="item"><i class="icon s7-id"></i> Rodzaj grupy:</td>
        <td>{{ demand?.groupType}}</td>
      </tr>
      <tr>
        <td class="item"><i class="icon s7-id"></i> Semestr:</td>
        <td>{{ demand?.semester }}</td>
      </tr>
      <tr>
        <td class="item"><i class="icon s7-id"></i> Przedmiot:</td>
        <td>{{ demand?.subjectName }}</td>
      </tr>
      <tr>
        <td class="item"><i class="icon s7-id"></i> Instytut:</td>
        <td>{{ demand?.institute }}</td>
      </tr>
    </table>
  </div>

  <li *ngFor="let lectureSet of demand?.lectureSets">
    <app-lecture-form
            [lectureSet]="lectureSet"
            [places]="places"
            [qualifiedLecturers]="qualifiedLecturers"
            (lectureEmitter)="onEmittedLecture($event)"
    ></app-lecture-form>
  </li>

  <button mat-button (click)="onSend()">Prześlij dalej</button>
  <button mat-button (click)="onSave()">Zapisz zapotrzebowanie</button>
  <button mat-button (click)="onCancel()">Odrzuć zapotrzebowanie</button>
  </mat-card>
</div>
