<div mat-dialog-content>
    <h2>{{lectureSet.type}} - {{ lectureSet.hoursToDistribute }} godzin </h2>
    <mat-form-field>
        <mat-label>Wybierz prowadzącego</mat-label>
        <input type="text" matInput [matAutocomplete]="auto">
    </mat-form-field>

    <div class="semester-weeks-wrapper">
        <p>
            Harmonogram
        </p>
        <p *ngIf="lectureSet.hoursToDistribute >= distributedHours">
            Pozostało godzin do rozdysponowania: {{ lectureSet.hoursToDistribute - distributedHours }}
        </p>
        <mat-error *ngIf="lectureSet.hoursToDistribute < distributedHours">
            Zalokowano za dużo godzin! ({{distributedHours}})
        </mat-error>
        <div *ngFor="let item of weeks;" class="week-wrapper">
            <ng-container *ngIf="item">
                <p>{{ item.label }}</p>
                <mat-form-field class="week-input">
                    <mat-label>Godziny</mat-label> <input (change)="onHoursChange($event.target.value, item)" [value]="item.allocatedHours" type="number" min="0" matInput>
                </mat-form-field>
                <mat-form-field class="place-input">
                    <mat-label>Miejsce</mat-label>
                    <input type="text" matInput [matAutocomplete]="placesAutoComplete" [value]="item.building + ' ' + item.room">
                </mat-form-field>
            </ng-container>
        </div>
        <div style="float:none; clear: both"></div>
    </div>

    <div class="style-cleaner"></div>
    <mat-form-field>
        <mat-label>Wpisz swoje uwagi</mat-label>
        <textarea (change)="onNotesChange($event)" class="input-comments" matInput label="Uwagi"></textarea>
    </mat-form-field>
</div>

<mat-autocomplete #auto="matAutocomplete" (optionSelected)="onLecturerChange($event.option.value)">
    <mat-option *ngFor="let lecturer of qualifiedLecturers"
                [value]="lecturer.username">{{lecturer.username}}</mat-option>
</mat-autocomplete>

<mat-autocomplete [displayWith]="displayPlace" (optionSelected)="onPlaceChange($event.option.value)" #placesAutoComplete="matAutocomplete">
    <mat-option class="place-input" *ngFor="let place of places"
                [value]="place">{{place.building + ' ' + place.room}}
    </mat-option>
</mat-autocomplete>
