<ng-container *ngIf="dataSource.data.length > 0">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtr">
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table class="full-width-table" [dataSource]="dataSource" matSort aria-label="Elements">

      <ng-container matColumnDef="groupName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nazwa grupy</th>
        <td mat-cell *matCellDef="let row">{{row.groupName}}</td>
      </ng-container>

      <ng-container matColumnDef="groupType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Typ grupy</th>
        <td mat-cell *matCellDef="let row">{{row.groupType}}</td>
      </ng-container>

      <ng-container matColumnDef="subjectName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Przedmiot</th>
        <td mat-cell *matCellDef="let row">{{row.subjectName}}</td>
      </ng-container>

      <ng-container matColumnDef="department">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Wydział</th>
        <td mat-cell *matCellDef="let row">{{row.department}}</td>
      </ng-container>

      <ng-container matColumnDef="institute">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Instytut</th>
        <td mat-cell *matCellDef="let row">{{row.institute}}</td>
      </ng-container>

      <ng-container matColumnDef="semester">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Semestr</th>
        <td mat-cell *matCellDef="let row">{{row.semester}}</td>
      </ng-container>

      <ng-container matColumnDef="schoolYear">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Rok szkolny grupy</th>
        <td mat-cell *matCellDef="let row">{{row.schoolYear}}</td>
      </ng-container>

      <ng-container matColumnDef="statusName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status zapotrzebowania</th>
        <td mat-cell *matCellDef="let row">{{row.statusName}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns">
          dsadasdas
      </tr>
      <tr mat-row (click)="rowClicked(row.uuid)" *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator #paginator
        [length]="dataSource.data.length"
        [pageIndex]="0"
        [pageSize]="15"
        [pageSizeOptions]="[25, 50, 100, 250]">
    </mat-paginator>
  </div>
</ng-container>
